[Unit]
Description=Audio effects for PipeWire applications
After=pipewire.service
BindsTo=pipewire.service

[Service]
ExecStart=%h/.local/bin/easyeffects --gapplication-service
ExecStop=%h/.local/bin/easyeffects --quit
Nice=-15
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
