[Unit]
Description=Audio effects for PipeWire applications

[Service]
ExecStart=%h/.local/bin/easyeffects --gapplication-service
ExecStop=%h/.local/bin/easyeffects --quit
Nice=-10
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
