[Unit]
Description=Audio effects for PipeWire applications
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=%h/.local/bin/easyeffects --gapplication-service
ExecStop=%h/.local/bin/easyeffects --quit
Nice=-15
Restart=always
RestartSec=1

[Install]
WantedBy=graphical-session.target
