[Unit]
Description=Music Player Daemon
After=network.target sound.target

[Service]
Type=notify
ExecStart=/usr/bin/mpd --no-daemon

[Install]
WantedBy=default.target
