[Unit]
Description=Applet for managing network connections
PartOf=graphical-session.target
After=graphical-session.target waybar.service

[Service]
ExecStart=/usr/bin/nm-applet --indicator
Restart=on-failure
RestartSec=1
TimeoutStopSec=10

[Install]
WantedBy=graphical-session.target
