[Unit]
Description=Screen locker for Wayland
Documentation=man:swaylock(1)
PartOf=sway-session.target
After=sway-session.target
Requires=sway-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=oneshot
ExecStart=%h/.config/sway/bin/lock
Restart=on-failure
RestartSec=1
TimeoutStopSec=10

[Install]
WantedBy=sway-session.target
