@define-color background #0d0d0d;
@define-color foreground #eeeeee;
@define-color black #1f1f1f;
@define-color brblack #454545;
@define-color red #f92645;
@define-color brred #ff7184;
@define-color green #82b414;
@define-color brgreen #bce368;
@define-color yellow #fdbe25;
@define-color bryellow #feee78;
@define-color blue #0c68af;
@define-color brblue #67a9dc;
@define-color magenta #8c54fe;
@define-color brmagenta #b28cfe;
@define-color cyan #13a5a2;
@define-color brcyan #8fe3de;
@define-color grey #858585;
@define-color brgrey #ffffff;

* {
    border: none;
    border-radius: 0;
    font-family: Sans;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background-color: @background;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .3s;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @foreground;
}

#workspaces button:hover {
    background: @black;
}

#workspaces button.focused {
    color: @magenta;
    background: @black;
}

#workspaces button.urgent {
    color: @yellow;
}

#clock,
#network,
#tray,
#mode,
#window,
#mpd,
#battery {
    padding: 0 10px 0 10px;
    color: @foreground;
    border-left: 2px solid @black;
}

#mode {
    background-color: @brmagenta;
    color: @background;
}

#window {
    color: @grey;
}

label:focus {
    background-color: #000000;
}

#network {
    color: @green;
}

#network.disconnected {
    color: @brblack;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#mpd.stopped, #mpd.disconnected {
    margin: 0;
    padding: 0;
    border: 0;
}

@keyframes blink {
    to {
        color: @background;
    }
}

#battery {
    color: @green;
}

#battery.warning {
    color: @yellow;
}

#battery.critical:not(.charging) {
    color: @red;
    font-weight: bold;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging {
    color: @brgreen;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
