
/*
Overrides
*/

:root {
    --autocomplete-popup-highlight-background: #8c54fe !important;
    --focus-outline-color: #8c54fe !important;
    --tab-line-color: var(--focus-outline-color) !important;
    --lwt-popup-brighttext-url-color: #b5b5b5 !important;
    --lwt-brighttext-url-color: #b5b5b5 !important;
    --url-match-color: #fd971f;
}

#urlbar:is([focused]) > #urlbar-background, #urlbar-container .urlbar-input-box {
    border-color: var(--focus-outline-color) !important;
}

.urlbarView-row:not([selected]) .urlbarView-title strong,
.urlbarView-row:not([selected]) .urlbarView-url strong {
    color: var(--url-match-color) !important;
}

#context-sendimage,
#context-sendvideo,
#context-sendaudio,
#context-setDesktopBackground {
    display: none !important;
}

